body {
  margin: 0;
  font-family: "Syne", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  scroll-behavior: smooth;
}

p {
  font-family: "Lato", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}







